<!-- Preview -->
<app-preview></app-preview>

<!-- Feature Group -->
<app-feature-group>
  <app-feature-example
    title="{{ 'home-content.text1.title' | translate }}"
    description="{{ 'home-content.text1.description' | translate }}"
    imageSrc="assets/images/logo.png"
  >
  </app-feature-example>

  <app-feature-example
    title="{{ 'home-content.text2.title' | translate }}"
    description="{{ 'home-content.text2.description' | translate }}"
    imageSrc="assets/images/brain.png"
  >
  </app-feature-example>

  <app-feature-example
    title="{{ 'home-content.text3.title' | translate }}"
    description="{{ 'home-content.text3.description' | translate }}"
    imageSrc="assets/images/dashboard.jpg"
  >
  </app-feature-example>

  <app-feature-example
    title="{{ 'home-content.text4.title' | translate }}"
    description="{{ 'home-content.text4.description' | translate }}"
    imageSrc="assets/images/baden-wuerttemberg-map.png"
  >
  </app-feature-example>

  <app-feature-row
    title1="{{ 'home-content.feature1.title' | translate }}"
    description1="{{ 'home-content.feature1.description' | translate }}"
    title2="{{ 'home-content.feature2.title' | translate }}"
    description2="{{ 'home-content.feature2.description' | translate }}"
    title3="{{ 'home-content.feature3.title' | translate }}"
    description3="{{ 'home-content.feature3.description' | translate }}"
  >
  </app-feature-row>
</app-feature-group>
