<mat-card id="search">
  <!-- Search -->
  <form [formGroup]="searchFormGroup">
    <mat-form-field id="search-terms" appearance="outline">
      <mat-label>{{ 'search-terms' | translate }}</mat-label>
      <input matInput formControlName="search" />
      <button
        type="submit"
        mat-mini-fab
        color="primary"
        matSuffix
        (click)="search()"
        [disabled]="searchFormGroup.invalid"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <!-- Quicklinks -->
  <ul id="quicklinks">
    <li *ngFor="let quicklink of quicklinks">
      <a (click)="navigateBySearchLink(quicklink, true)">{{
        'quicklinks.' + quicklink | translate
      }}</a>
    </li>
  </ul>
</mat-card>

<!-- Results -->
<div id="results">
  <a *ngFor="let article of articles" [routerLink]="'/post/' + article.key">
    <mat-card class="article">
      <!-- Thumbnail -->
      <div class="thumbnail" *ngIf="article.thumbnail">
        <img src="{{ article.thumbnail }}" class="thumb" />
        <mat-spinner diameter="160" color="accent"></mat-spinner>
      </div>

      <!-- Info -->
      <div class="info">
        <h2 class="title">{{ article.title['de'] }}</h2>
        <p class="author">{{ article.author?.username }}</p>
      </div>
    </mat-card>
  </a>
</div>
